.clear-button {
  height: 80px;
  font-size: 1.6em;
  display: flex;
  flex: 1;
  background-color: #af275d;
  margin-top: 8px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  user-select: none;
}

.clear-button:hover {
  background-color: #ebb000;
}
